<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario/Modificacion</title>
    <style>
        * {
            box-sizing: border-box;
            margin: 2;
            padding: 2;
        }
        body {
            background-color: black !important;
            font-family: sistem-ui, sans-serif;
            color: white;
        }
    </style>

</head>
<body>


 <h1>Formulario de Alta de Estudiante</h1>
 <div>
     <a th:href="@{/estudiantes/listar}">Listado</a>
 </div>
    <fieldset>
        <legend>Datos Personales</legend>
        <form th:action="@{/estudiantes/Save}" th:object="${estudiante}" method="post">
            <input type="hidden" th:field="*{id}">
            <div>
                <label for="Nombre">Nombre:</label>
                <input type="text" th:field="*{Nombre}" id="Nombre" required>
            </div>
            <div>
                <label for="primerApellido">Primer Apellido:</label>
                <input type="text" th:field="*{primerApellido}" id="primerApellido" required>
            </div>
            <div>
                <label for="segundoApellido">Segundo Apellido:</label>
                <input type="text" th:field="*{segundoApellido}" id="segundoApellido">
            </div>
        <div>
            <label for="genero">Género</label>
            <label>
                <select th:field="*{genero}">
                    <option value="MASCULINO">Masculino</option>
                    <option value="FEMENINO">Femenino</option>
                </select>
            </label>
        </div>
            <div>
                <label>Teléfono</label>
                <div th:each="tel, iterStat : *{telefonos}">
                    <input type="text" th:field="*{telefonos[__${iterStat.index}__].numero}">
                </div>
            </div>
            <div>
                <label>Email</label>
                <div th:each="correo, iterStat : *{emails}">
                    <input type="text" th:field="*{emails[__${iterStat.index}__].direccion}">
                </div>
            </div>

        <fieldset>
            <legend>Datos Académicos</legend>
            <div>
            <label for="fechaMatricula">Fecha de Matriculacion</label>
                <input type="date" th:field="*{fechaMatricula}">
            </div>
            <div>
                <label for="facultad">Facultad</label>
                    <select th:field="*{facultad.id}">
                        <option value="">-- Selecciona --</option>
                        <option th:each="fac : ${facultades}"
                                th:value="${fac.id}"
                                th:text="${fac.nombre}">
                        </option>
                    </select>
            </div>
            <form th:action="@{/estudiantes/Save}"
                  th:object="${estudiante}"
                  method="post">

                ...

                <button type="submit">Guardar</button>

            </form>
        </fieldset>
        </form>
    </fieldset>
</body>
</html>