<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Estudiante</title>
</head>
<body>

<h1 th:text="'Detalles del estudiante: '
        + ${estudiante.nombre} + ' '
        + ${estudiante.primerApellido} + ' '
        + ${estudiante.segundoApellido}">
</h1>

<h2 th:text="'Facultad: ' + ${estudiante.facultad.nombre}"></h2>

<!-- Teléfonos -->
<div th:if="${estudiante.telefonos.size() > 0}">
    <h2>Teléfonos:</h2>
    <ul>
        <li th:each="telefono : ${estudiante.telefonos}"
            th:text="${telefono.numero}">
        </li>
    </ul>
</div>

<!-- Correos -->
<div th:if="${estudiante.emails.size() > 0}">
    <h2>Correos:</h2>
    <ul>
        <li th:each="email : ${estudiante.emails}"
            th:text="${email.direccion}">
        </li>
    </ul>
</div>

<!-- Foto -->
<div th:if="${estudiante.foto != null}">
    <h2>Foto:</h2>
    <img th:src="@{'/images/' + ${estudiante.foto}}" alt="Foto del Estudiante">
</div>